html {
    scroll-behavior: smooth;
}

.page-head {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
}

.page-head a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 22pt;
}

.page-head ul {
    margin-top: 8px;
    list-style-type: none;
    display: flex;
}

.page-head li {
    margin-left: 20px;
}

h2 {
    text-align: center;
    padding-top: 40px;
}

h3 {
    text-align: center;
}

p {
    text-align: left;
    font-size:15pt;
    margin-top: 20px;
}

.landing-slogan {
    margin-left: 50px;
    font-size: 24pt;
    text-align: left;
    /* margin-top: 100px; */
    margin-top: 15%;
}

.landing-slogan>p {
    font-size: 14pt;
}

#download-app-store>img {
    height: 50px;
    margin: 0;
}

#problem {
    background-color: #feeabb;
}

#problem p, #lend-a-hand p {
    font-size: 15pt
}
/* 
#lend-a-hand {
    height: 600px;
} */

#lend-a-hand ul {
    /* width: 40%;
    margin-left: auto;
    margin-right: auto; */
    font-size: 15pt;
}
/* 
#lend-a-hand img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
} */

.main img {
    margin-top: 5%;
    width: auto;
    height: 30vw;
}

/* fonts  */
h2, .page-head, .landing-slogan {
  font-family: 'Open Sans', sans-serif;
}

body>div, .landing-slogan>p {
  font-family: 'Open Sans', sans-serif;
}

.solution {
  background-image: url("../img/Group-1.png");
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  background-size: cover; 
  background-attachment: fixed;
  background-position: right top;
}

.solution p {
  font-size: 15pt;
}

.solution img, #team img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  margin-left: 25%;
}

.desc {
  text-align: center;
}

.main, .page-head {
  background-color: #d0f9f2;
}

.container {
  width: 70vw;
}

div .percentage {
  font-size: 40pt;
}

.section {
  padding-bottom: 100px;
  padding-top: 50px;
}

#team {
    background-color: #aeddd2;
}

#team p {
    font-size: 12pt;
    text-align: justify;
}

#team img {
    width: auto;
    height: 100px;
    border-radius: 50%;
}

#lend-a-hand img {
    height: auto;
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#lend-a-hand {
    background-color: #cbb6cf;
}